services:
  frontend:
    image: ${DOCKER_USERNAME}/ktb-community-frontend:latest
    container_name: ktb-frontend
    ports:
      - '3000:3000'
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'curl -f http://localhost:3000/health || exit 1',
        ]
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 40s
