<article class="comment" data-comment-id="">
  <div class="comment__avatar">
    <img src="" alt="프로필 이미지" />
  </div>
  <div class="comment__body">
    <div class="comment__meta-row">
      <div class="comment__meta">
        <span class="comment__author-name"></span>
        <span class="comment__dot" aria-hidden="true"></span>
        <time class="comment__date"></time>
      </div>
      <div class="comment__actions">
        <button
          class="comment__action comment__action--delete"
          type="button"
          title="댓글 삭제"
          aria-label="댓글 삭제"
        >
          <i data-lucide="trash-2" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="comment__content">
      <p></p>
    </div>
  </div>
</article>
